.feature-item {
	/* parent element needs to be position relative for the icon to be position absolute */
	position: relative;
	padding-bottom: 2.5rem;

	@mixin atSmall {
		padding-left: 94px;
	}

	&__icon {
		/* by having display block - this drops will mean the text after it will appear on
		   a new line - and center it horizontally */
		display: block;
		margin: 0 auto;

		@mixin atSmall {
			/* bc we want the icon to sit in the top left corner we need
			   child element to be position to be absolute */
			position: absolute;
			left: 0;
		}
	}

	&__title {
		font-size: 1.6rem;
		font-weight: 300;
		margin-top: 0.7em;
		margin-bottom: 0.8rem;
		text-align: center;

		@mixin atSmall {
			margin-top: 1em;
			font-size: 1.875rem;
			text-align: left;
		}
	}
}