.modal {
	position: fixed;
	z-index: 5;
	background-color: rgba(255,255,255, 0.94);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	/* Hide the modal by default ie. on page load */
	opacity: 0;
	visibility: hidden;
	/* scale element slightly larger so as to have a zoom out effect */
	transform: scale(1.2);
	/* have the transition (ie. transform from opacity, invisible, scale) happen over 0.3 seconds - a nice fade in/out effect */
	transition: all 0.3s ease-out;

	&--is-visible {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	&__inner {
		position: absolute;
		/* widh 100%, top 50%, and translateY -50% causes inner content to be centered within the window */
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}

	&__description {
		text-align: center;
		font-size: 1.3rem;
		font-weight: 300;
		line-height: 1.65;
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 2rem;
		transform-origin: 100% 0;
		transform: scaleX(1.2);
		color: $mainBlue;
		cursor: pointer;

		&:hover {
			color: $mainOrange;
		}
	}

}