.row {

	/* clear the floats after each row */
	@mixin clearfix;

	/* As this is the main parent div of applying the horizontal padding to its children 
	   we can apply negative margin to coounteract the padding-right for the last gutter 
	   - but also requires overflow:hidden in the wrapper class! */
	&--gutters {
		margin-right: -65px;
	}
	&--gutters-large {
		margin-right: -100px;
	}
	&--gutters-small {
		margin-right: -45px;
	}

	/* apply horizontal padding to all divs within (ie. the columns) the row and --gutters modifier class */
	/* our beginning gutter */
	&--gutters > div {
		padding-right: 65px;
	}
	/* feature items gutter */
	&--gutters-large > div {
		padding-right: 100px;
	}
	/* testomonials gutter */
	&--gutters-small > div {
		padding-right: 45px;
	}

	/* needed to add the top padding modifier because of the testimonial photo being pulled up 80px
	   with position relative */
	&--t-padding {
		padding-top: 80px; 
	}

	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}

	@mixin atMedium {
		&__b-margin-until-medium {
			margin-bottom: 0;
		}

		&__medium-4 {
			float: left;
			width: 33.33%;
		}

		/* this is a modifier bc we want to be slightly bigger than
		   4 columns (4/12) - to match the design file */
		&__medium-4--larger {
			width: 37%;
		}

		&__medium-6 {
			float: left;
			width: 50%;
		}

		&__medium-8 {
			float: left;
			width: 66.66%;
		}

		/* this is a modifier bc we want to be slightly smaller than
		   8 columns (8/12) - to match the design file */
		&__medium-8--smaller {
			width: 63%;
		}
	}

	@mixin atLarge {
		&__b-margin-until-large {
			margin-bottom: 0;
		}

		&__large-4 {
			float: left;
			width: 33.33%;
		}

		&__large-4--larger {
			width: 37%;
		}

		&__large-6 {
			float: left;
			width: 50%;
		}

		&__large-8 {
			float: left;
			width: 66.66%;
		}

		&__large-8--smaller {
			width: 63%;
		}
	}	
	
	/* Begin Equal Height Rules */
	/* Equal height of testimonial boxes at medium size screens or greater */
	/* the modernizr plugin adds the flexbox class if the browser supports it,
	   otherwise it handles it as best it can */
	.flexbox &--equal-height-at-medium {
		@mixin atMedium {
			display: flex;
		}

		/* select direct descendent divs (ie. columns) */
		& > div {
			float: none;
			display: flex;
		}
	}

	.flexbox &--equal-height-at-large {
		@mixin atLarge {
			display: flex;
		}

		& > div {
			float: none;
			display: flex;
		}
	}
}