body {
	font-family: Roboto, sans-serif;
	/* default font color - grey (not fully black) */
	color: #333;
}

img {
	/* this makes images always fit within the browser window - ie. so they dont scroll left to right when too large */
	max-width: 100%;
	max-height: auto;
}

/* All links to to be main orange color by default */
a {
	color: $mainOrange;
}

/* this causes the padding to NOT be included in the width calculations of a div. 
   It makes more sense to not include padding or border size in the calculation of width and height */
* {
	box-sizing: border-box;
}