.btn {
	background-color: $mainBlue;
	color: #FFF;
	/* remove the underline - as it is a link */
	text-decoration: none;
	padding: 0.75rem 1.2rem;
	/* this is so parent and surrounding elements are aware of its vertical padding */
	display: inline-block;
	cursor: pointer;

	&--orange {
		background-color: $mainOrange;
	}

	&--shift-right {
		margin-left: 10px;
	}

	&--large {
		padding: 1.1rem 1.9rem;

		@mixin atSmall {
			font-size: 1.25rem;
		}
	}
}