/* This class has the responsibility for adding padding to the top and bottom of each section on the page */
.page-section {
	padding: 1.2rem 0;

	@mixin atMedium {
		padding: 4.5rem 0;
	}

	/* the currently no used... */
	&--no-b-padding-until-medium {
		padding-bottom: 0;

		@mixin atMedium {
			padding-bottom: 4.5rem;
		}
	}

	/* need to remove the bottom padding for mobile screens */
	&--no-b-padding-until-large {
		padding-bottom: 0;

		@mixin atLarge {
			padding-bottom: 4.5rem;
		}
	}

	&--blue {
		background-color: $mainBlue;
		color: #FFF;
	}

	/* modifier class for testimonial section - add background color or image */
	&--testimonials {
		background-color: #e0e6ef;

		@mixin atLarge {
			/* Once the lazyloaded class has been applied to the testimonials page section - only then apply the background image */
			&.lazyloaded {
				background: url('../../assets/images/testimonials-bg.jpg') top center no-repeat;
				background-size: cover;
			}
		}
	}

}