.section-title {
	font-size: 2.55rem;
	font-weight: 300;
	text-align: center;
	
	/* testimonials section title is blue */
	&--blue {
		color: $mainBlue;
	}

	&--less-margin {
		margin-bottom: 1.3rem;
		margin-top: 0;
	}

	@mixin atSmall {
		font-size: 3.75rem;
	}

	strong {
		font-weight: 500;
	}

	/* icon is an element of the section-title block */
	&__icon {
		/* by having display block - this drops will mean the text after it will appear on
		   a new line */
		display: block;
		/* as it a block level element - need to make sure it stays horizontally centered */
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0.6rem;

		@mixin atSmall {
			/* push the icon down 8px for larger screens */
			position: relative;
			top: 8px;
			
			/* setting to inline block this will stop the text from dropping down to a new line */
			display: inline-block;
			margin-right: 1.8rem;
			/* need to reset the left and bottom margin for larger screens */
			margin-left: 0;
			margin-bottom: 0;
		}
	}
}