.social-items {
	text-align: center;

	&__icon {
		background-color: $mainOrange;
		/* Social Icons will sit on a single line, but can have a custom height if required */
		display: inline-block;
		margin: 0 5px 5px 5px;
		width: 33%;
		height: 72px;
		position: relative;

		@mixin atSmall {
			width: 72px;
			margin: 0 5px;
		}

		.icon {
			/* use display block so that the icon takes up space 
				- automated width and height can be applied */
			display: block;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

}