.testimonial {
	/* transparent white background color */
	background-color: rgba(255,255,255, 0.8);
	/* only need to add 1px of bottom margin (this containing element), which allow the paragraph to use its default margin INSIDE the container, and hence push it out */ 
	padding: 0 18px 1px 18px;
	margin-bottom: 98px;

	@mixin atLarge {
		padding: 0 1.8125rem 1px 1.8125rem;
		margin-bottom: 0;
	}

	/* for the last testimonial (3rd one) we dont want a bottom margin (on small screens) */
	&--last {
		margin-bottom: 0;
	}

	&__photo {
		/* put the image in a circle */
		border-radius: 80px;
		overflow: hidden;
		
		/* photo image is exactly 160px wide and high */
		width: 160px;
		height: 160px;
		
		/* center the photo and bring it up half its height */
		position: relative;
		top: -80px;
		/* need negative bottom margin so that the content knows we 
		   moved the photo up */
		margin: 0 auto -80px auto;	

		border: 6px solid rgba(255,255,255, 0.8);
	}

	&__title {
		color: $mainBlue;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 0;
	}

	&__subtitle {
		color: $mainOrange;
		text-align: center;
		font-size: 0.9375rem;
		font-weight: 400;
		margin: .25rem 0 1rem 0;
	}
}