
/* this is separate class as the CSS required here is not specific to a particular block - it could be used throughout the page 
   eg. you want to have left and right padding for text ALWAYS */
.wrapper {
	/* overflow hidden is required to handle the negative margin when trying to handle padding on row content - see column layout block lecture */
	overflow: hidden;
	/* could use rem instead of px here! */ 
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;

	/* this modifier is used to centre the image - the image itself is 976px so, hence the image appears centered on the page */
	&--medium {
		max-width: 976px;
	}

	&--small {
		max-width: 650px;
	}

	&--narrow {
		max-width: 470px;
	}

	/* This is to deal with nested classes ie. wrapper within a wrapper */
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--b-margin {
		margin-bottom: 1rem;
		@mixin atSmall {
			margin-bottom: 3.875rem;
		}
	}

	/* no padding needed on mobile screen size to allow for more text content */
	&--no-padding-until-medium {
		padding-left: 0;
		padding-right: 0;

		@mixin atMedium {
			padding-left: 18px;
			padding-right: 18px;
		}
	}

	&--no-padding-until-large {
		padding-left: 0;
		padding-right: 0;

		@mixin atLarge {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
}